 
<mat-spinner *ngIf='spinner' class="spinner"></mat-spinner>
<mat-card>
    <app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon"></app-page-title>
    <!-- <hr> -->
</mat-card>
 
<app-management [usuarios]="usuarios" [add_upd]="boolAddUpd" *ngIf="Alta" (cerrarTab)="cerrarTab($event)">
</app-management>

<br>
<mat-card>
    <app-grid-component *ngIf="view" [datos]="dispositivos" [gridOptions]="gridOptions" [columns]="columns"
        [Checkbox]="checkbox" [Editing]="editing" [Columnchooser]="columnchooser" [searchPanel]="searchPanel"
        [scroll]="scroll" [toolbar]="toolbar" (datosevent)="datosMessage($event)"
        (messageEvent)="receiveMessage($event)">
    </app-grid-component>


</mat-card>