<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon"></app-page-title>
  <app-monitoring [ticket]="ticket" [add_upd] = "boolAddUpd" *ngIf="Alta"  (cerrarTab)="cerrarTab($event)" > </app-monitoring >
 

 <app-grid-component *ngIf="view" [datos]="tickets" [gridOptions]="gridOptions"
[columns]="columns" [Checkbox]="checkbox" [Editing]="editing"
[Columnchooser]="columnchooser" [searchPanel]="searchPanel" [scroll]="scroll" [toolbar]="toolbar"
 (datosevent)="datosMessage($event)"  (messageEvent)="receiveMessage($event)" 
>
</app-grid-component>   


