<div>
  <dx-data-grid #grid id="gridContainer" [dataSource]="datos" [(selectedRowKeys)]="selectedRowKeys" [keyExpr]="id"
    [masterDetail]="{ enabled: Detail.detail, template: 'detail'}" [showBorders]="true" [columnAutoWidth]="true"
    [showRowLines]="Color.filas" [showColumnLines]="Color.columnas" [remoteOperations]="remoteOperations"
    [rowAlternationEnabled]="Color.alternar" (onToolbarPreparing)="onToolbarPreparing($event)"
    (onSelectionChanged)="onSelectionChanged($event)" (onContentReady)="onContentReady($event)"
    (onInitialized)="onInitializedMaster($event)" (onRowUpdated)="OnRowUpdated($event)"
    (onRowInserted)="OnRowInserted($event)" (onRowRemoved)="OnRowRemoved($event)"
    [columnHidingEnabled]="columnHiding.hide" (onRowUpdating)="onRowUpdating($event)"
    (onCellPrepared)="onCellPrepared($event)" (onRowPrepared)="onRowPrepared($event)"
    (onInitNewRow)="OnInitNewRow($event)">
    <!-- -------------------- EDITAR ------------------------------------------>
    <dxo-editing [mode]="Editing.mode" [allowUpdating]="Editing.allowupdate" [allowDeleting]="Editing.allowDeleting"
      [allowAdding]="Editing.allowAdding"></dxo-editing>

    <!-- -------------------- CHECKBOX ------------------------------------------>
    <dxo-selection [mode]="Checkbox.checkboxmode"></dxo-selection>

    <!-- -------------------- SELECCIONADOR DE COLUMNAS ------------------------------------------>
    <dxo-column-chooser [enabled]="Columnchooser.columnchooser" mode="select"></dxo-column-chooser>


    <!-- -------------------- PAGINACION ------------------------------------------>
    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="gridOptions.pageSize" [showInfo]="true"></dxo-pager>
    <dxo-paging [pageSize]="gridOptions.paginacion"></dxo-paging>

    <!-- -------------------- FILTROS ------------------------------------------>

    <dxo-search-panel [visible]="searchPanel.visible" [width]="searchPanel.width"
      [placeholder]="searchPanel.placeholder"></dxo-search-panel>
    <dxo-header-filter [visible]="searchPanel.filterHeader" [allowSearch]="true"></dxo-header-filter>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-filter-row [visible]="searchPanel.filterRow"></dxo-filter-row>
    <dxo-filter-panel [visible]="true"></dxo-filter-panel>

    <!-- -------------------- SCROLL ------------------------------------------>

    <dxo-scrolling [mode]="scroll.mode" [rowRenderingMode]="scroll.mode"></dxo-scrolling>
    <dxo-scrolling [columnRenderingMode]="scroll.mode" [scrollByContent]="true"></dxo-scrolling>

    <!-- -------------------- EXPORT ------------------------------------------>

    <dxo-export [fileName]="exportExcel.fileName" [enabled]="exportExcel.enabled"></dxo-export>

    <!-- -------------------- COLUMNAS ------------------------------------------>

    <dxi-column *ngFor="let column of columns" [dataField]="column.dataField" [caption]="column.caption"
      [width]="column.width" [groupIndex]="column.groupIndex" [cellTemplate]="column.cellTemplate"
      [hidingPriority]="column.hiddingPriority" [allowEditing]="column.allowEditing" [dataType]="column.dataType"
      [visible]="column.visible" [format]="column.format" [editorOptions]="column.editorOptions">
    </dxi-column>
    <!-- -------------------- SUMMARY ------------------------------------------>
        <dxo-summary>
          <dxi-group-item *ngFor="let sumary of Summary" [column]="sumary.column" [summaryType]="sumary.summaryType"
            [valueFormat]="sumary.valueFormat" [showInGroupFooter]="sumary.showInGroupFooter" [alignByColumn]="sumary.alignByColumn" [displayFormat]="sumary.displayFormat">
          </dxi-group-item>
        </dxo-summary>
    <!-- -------------------- TEMPLATE FOTO ------------------------------------------>

    <div *dxTemplate="let data of 'foto'" class="foto">
      <a [href]="data.value" data-lightbox="avatar">
        <img id="myImg" class="foto-ad" [src]="data.value" />
      </a>
    </div>

    <!-- -------------------- TEMPLATE COLOR ------------------------------------------>

    <div *dxTemplate="let data of 'color'">
      <div [style.background-color]="data.value" class="cuadrado"></div>
    </div>

    <!-- -------------------- TEMPLATE PDF ------------------------------------------>

    <div *dxTemplate="let data of 'pdf'" class="foto">
      <img id="myImg" class="preview-docs" src="../../../assets/images/iconos-utilerias/docpdf.png"
        (click)="dialog.open(Gridlightbox)" />
      <ng-template #Gridlightbox>
        <div>
          <button type="button" class="close linea" aria-label="Close" [mat-dialog-close]>
            <span aria-hidden="true">&times;</span>
          </button>
          <!-- <pdf-viewer class="pdf" [src]="data.value" [original-size]="false" [autoresize]="true">
          </pdf-viewer> -->
        </div>
      </ng-template>
    </div>

    <!-- -------------------- TEMPLATE EXCEL ------------------------------------------>
    <div *dxTemplate="let data of 'excel'" class="foto">
      <a [href]="data.value">
        <img id="myImg" class="preview-docs" src="../../../assets/images/iconos-utilerias/docEXCEL.png" />
      </a>
    </div>

    <!-- -------------------- TEMPLATE WORD ------------------------------------------>
    <div *dxTemplate="let data of 'word'" class="foto">
      <a [href]="data.value">
        <img id="myImg" class="preview-docs" src="../../../assets/images/iconos-utilerias/docword.png" />
      </a>
    </div>

    <!-- -------------------- TEMPLATE POWER POINT ------------------------------------------>
    <div *dxTemplate="let data of 'powerpoint'" class="foto">
      <a [href]="data.value">
        <img id="myImg" class="preview-docs" src="../../../assets/images/iconos-utilerias/docPP.png" />
      </a>
    </div>

    <!-- -------------------- TEMPLATE TXT ------------------------------------------>
    <div *dxTemplate="let data of 'txt'" class="foto">
      <a [href]="data.value">
        <img id="myImg" class="preview-docs" src="../../../assets/images/iconos-utilerias/doctxt.png" />
      </a>
    </div>

    <!-- -------------------- TEMPLATE XML ------------------------------------------>
    <div *dxTemplate="let data of 'xml'" class="foto">
      <a [href]="data.value" target="_blank">
        <img id="myImg" class="preview-docs" src="../../../assets/images/iconos-utilerias/docXML.png" />
      </a>
    </div>

    <!-- -------------------- TEMPLATE TOTAL DE REGISTROS ------------------------------------------>
    <div class="totalcolor" [ngClass]="{'totalcolorgris': Color.color === 'gris'}"
      *dxTemplate="let data of 'Totalderegistros'">
      <div class="informer">
        <h2 class="totalcount">{{datos ? datos.length : 0}}</h2>
        <span class="name">Registros</span>
      </div>
    </div>

    <!-- -------------------- TEMPLATE REGISTROS SELECCIONADOS ------------------------------------------>
    <div class="countcolor" *dxTemplate="let data of 'Contarseleccionados'">
      <div class="informer">
        <h2 class="countcount">{{contador}}</h2>
        <span class="countname">Seleccionados</span>
      </div>
    </div>

    <div *dxTemplate="let data of 'detail'">
      <dx-data-grid #griddetail id="gridContainerDetail" [dataSource]="data.data.detalle" [showBorders]="true"
        [keyExpr]="KeyExprDetail" [columnAutoWidth]="true" [showRowLines]="Color.filas"
        [showColumnLines]="Color.columnas" [selectedRowKeys]="selectedRowKeysDetail"
        [remoteOperations]="remoteOperations" [rowAlternationEnabled]="Color.alternar"
        (onToolbarPreparing)=" onToolbarPreparingDetail($event)"
        (onSelectionChanged)="onSelectionChangedDetail($event, data.data)"
        (onContentReady)="onContentReadyDetail($event)" [columnHidingEnabled]="columnHiding.hide"
        (onRowUpdating)=" onRowUpdatingDetail($event)" (onCellPrepared)="onCellPreparedDetail($event)"
        (onRowPrepared)="onRowPreparedDetail($event)">
        <!-- -------------------- EDITAR ------------------------------------------>
        <dxo-editing [mode]="Editing.mode" [allowUpdating]="Editing.allowupdate"></dxo-editing>
        <!-- <dxo-editing [mode]="Editing.mode" [allowUpdating]="Editing.allowupdate" [allowDeleting]="Editing.allowDeleting" [allowAdding]="Editing.allowAdding"></dxo-editing> -->
        <!-- -------------------- CHECKBOX ------------------------------------------>
        <dxo-selection *ngIf="CheckboxDetail" [mode]="CheckboxDetail.checkboxmode"></dxo-selection>

        <!-- -------------------- SELECCIONADOR DE COLUMNAS ------------------------------------------>
        <dxo-column-chooser [enabled]="Columnchooser.columnchooser" mode="select"></dxo-column-chooser>


        <!-- -------------------- PAGINACION ------------------------------------------>
        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="gridOptions.pageSize" [showInfo]="true">
        </dxo-pager>
        <dxo-paging [pageSize]="gridOptions.paginacion"></dxo-paging>

        <!-- -------------------- FILTROS ------------------------------------------>

        <dxo-search-panel [visible]="searchPanel.visible" [width]="searchPanel.width"
          [placeholder]="searchPanel.placeholder"></dxo-search-panel>
        <dxo-header-filter [visible]="searchPanel.filterHeader" [allowSearch]="true"></dxo-header-filter>
        <dxo-filter-row [visible]="searchPanel.filterRow"></dxo-filter-row>
        <dxo-filter-panel [visible]="true"></dxo-filter-panel>

        <!-- -------------------- SCROLL ------------------------------------------>

        <dxo-scrolling [mode]="scroll.mode" [rowRenderingMode]="scroll.mode"></dxo-scrolling>
        <dxo-scrolling [columnRenderingMode]="scroll.mode" [scrollByContent]="true"></dxo-scrolling>

        <!-- -------------------- EXPORT ------------------------------------------>

        <dxo-export [fileName]="exportExcel.fileName" [enabled]="exportExcel.enabled"></dxo-export>

        <!-- -------------------- COLUMNAS ------------------------------------------>

        <dxi-column *ngFor="let column of columnsdetail" [dataField]="column.dataField" [caption]="column.caption"
          [width]="column.width" [groupIndex]="column.groupIndex" [cellTemplate]="column.cellTemplate"
          [hidingPriority]="column.hiddingPriority" [allowEditing]="column.allowEditing" [dataType]="column.dataType"
          [format]="column.format">
          <!--dxi-validation-rule *ngIf="column.allowEditing === true"
          type="pattern"
          [pattern]="column.pattern"
          [message]="column.messageError" >
          </dxi-validation-rule-->
        </dxi-column>

        <!-- -------------------- TEMPLATE FOTO ------------------------------------------>

        <div *dxTemplate="let data of 'foto'" class="foto">
          <a [href]="data.value" data-lightbox="avatar">
            <img id="myImg" class="foto-ad" [src]="data.value" />
          </a>
        </div>

        <!-- -------------------- TEMPLATE PDF ------------------------------------------>

        <div *dxTemplate="let data of 'pdf'" class="foto">
          <img id="myImg" class="preview-docs" src="../../../assets/images/iconos-utilerias/docpdf.png"
            (click)="dialog.open(Gridlightbox)" />
          <ng-template #Gridlightbox>
            <div>
              <button type="button" class="close linea" aria-label="Close" [mat-dialog-close]>
                <span aria-hidden="true">&times;</span>
              </button>
              <!-- <pdf-viewer class="pdf" [src]="data.value" [original-size]="false" [autoresize]="true">
              </pdf-viewer> -->
            </div>
          </ng-template>
        </div>

        <!-- -------------------- TEMPLATE EXCEL ------------------------------------------>
        <div *dxTemplate="let data of 'excel'" class="foto">
          <a [href]="data.value">
            <img id="myImg" class="preview-docs" src="../../../assets/images/iconos-utilerias/docEXCEL.png" />
          </a>
        </div>

        <!-- -------------------- TEMPLATE WORD ------------------------------------------>
        <div *dxTemplate="let data of 'word'" class="foto">
          <a [href]="data.value">
            <img id="myImg" class="preview-docs" src="../../../assets/images/iconos-utilerias/docword.png" />
          </a>
        </div>

        <!-- -------------------- TEMPLATE POWER POINT ------------------------------------------>
        <div *dxTemplate="let data of 'powerpoint'" class="foto">
          <a [href]="data.value">
            <img id="myImg" class="preview-docs" src="../../../assets/images/iconos-utilerias/docPP.png" />
          </a>
        </div>

        <!-- -------------------- TEMPLATE TXT ------------------------------------------>
        <div *dxTemplate="let data of 'txt'" class="foto">
          <a [href]="data.value">
            <img id="myImg" class="preview-docs" src="../../../assets/images/iconos-utilerias/doctxt.png" />
          </a>
        </div>

        <!-- -------------------- TEMPLATE XML ------------------------------------------>
        <div *dxTemplate="let data of 'xml'" class="foto">
          <a [href]="data.value">
            <img id="myImg" class="preview-docs" src="../../../assets/images/iconos-utilerias/doctxt.png" />
          </a>
        </div>

        <!-- -------------------- TEMPLATE TOTAL DE REGISTROS ------------------------------------------>
        <div class="totalcolordetail" [ngClass]="{'totalcolorgris': Color.color === 'gris'}"
          *dxTemplate="let datadetail of 'Totalderegistrosdetail'">
          <div class="informer">
            <h2 class="totalcount">{{data.data.detalle ? data.data.detalle.length : 0}}</h2>
            <span class="name">Registros</span>
          </div>
        </div>

        <!-- -------------------- TEMPLATE REGISTROS SELECCIONADOS ------------------------------------------>
        <div class="countcolor" *dxTemplate="let datadetail of 'Contarseleccionadosdetail'">
          <div class="informer">
            <h2 class="countcount" id="contador">0</h2>
            <span class="countname">Seleccionados</span>
          </div>
        </div>
      </dx-data-grid>
    </div>

  </dx-data-grid>

</div>