<br>
<div [formGroup]="usuarioForm">
  <mat-card>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-xl-6">
        <mat-form-field id="blueversion" class="inputFullWide">
          <mat-select placeholder="Ticket" formControlName="tipoTiket" [errorStateMatcher]="matcher">
            <mat-option id="bluemat" *ngFor='let tipoTiket of tipoTickets' [value]="tipoTiket.idTipoTiket">
              {{tipoTiket.nombre}}
            </mat-option>
          </mat-select>
          <mat-error>
            El campo es
            <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class='col-sm-12 col-md-4 col-xl-4 text-center'>
        <mat-button-toggle-group #group="matButtonToggleGroup" (click)='cambiaCuentaDispositivo()'
          formControlName="toogleCuentaDispositivo">
          <mat-button-toggle value="1" class="inputFullWide"> Cuenta </mat-button-toggle>
          <mat-button-toggle value="0" class="inputFullWide"> Dispositivo </mat-button-toggle>
        </mat-button-toggle-group>
      </div>

    </div>
    <div class="row">

 
      <div class="col-sm-12 col-md-6 col-xl-6" *ngIf='tabDispositivo'>
        <mat-form-field id="blueversion" class="inputFullWide">
          <mat-select placeholder="Dispositivo" formControlName="idDispositivo" [errorStateMatcher]="matcher">
            <mat-option id="bluemat" *ngFor='let dispositivo of tipoDispositivos'
              [value]="dispositivo.idTipoDispositivo">
              {{dispositivo.nombre}}
            </mat-option>
          </mat-select>
          <mat-error>
            El campo es
            <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>  

      <div class="col-sm-12 col-md-6 col-xl-6" *ngIf='tabCuenta'>
        <mat-form-field id="blueversion" class="inputFullWide">
          <mat-select placeholder="Cuenta" formControlName="idCuenta" [errorStateMatcher]="matcher">
            <mat-option id="bluemat" *ngFor='let tipoCuenta of tipoCuentas' [value]="tipoCuenta.idTipoCuenta">
              {{tipoCuenta.nombre}}
            </mat-option>
          </mat-select>
          <mat-error>
            El campo es
            <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>



      <div class="col-sm-12 col-md-6 col-xl-6">
        <mat-form-field id="blueversion" class="inputFullWide">
          <mat-select placeholder="Prioridad " formControlName="idPrioridad" [errorStateMatcher]="matcher">
            <mat-option id="bluemat" *ngFor='let tipoPrioridad of tipoPrioridades' [value]="tipoPrioridad.idPrioridad">
              {{tipoPrioridad.nombre}}
            </mat-option>
          </mat-select>
          <mat-error>
            El campo es
            <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>



    </div>
    <!-- <div class="row">
      <div class="col-sm-12 col-md-6 col-xl-6">
        <mat-form-field class="inputFullWide">
          <input matInput placeholder="Marca " formControlName="marca" [errorStateMatcher]="matcher">
          <mat-error>
            El campo es
            <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-6 col-xl-6">
        <mat-form-field class="inputFullWide">
          <input matInput placeholder="Modelo " formControlName="modelo" [errorStateMatcher]="matcher">
          <mat-error>
            El campo es
            <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div> -->
    <div class="row">
      <div class="col-sm-12 col-md-12 col-xl-12">
        <mat-form-field class="inputFullWide">
          <input matInput placeholder="Observaciones" formControlName="observaciones" [errorStateMatcher]="matcher">
          <mat-error>
            El campo es
            <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <!-- <div class="row"> -->
    <!-- <div class="col-sm-12 col-md-6 col-xl-6">
        <mat-form-field class="inputFullWide">
          <input matInput placeholder="Fecha de creacion" formControlName="fechaCreacion" [errorStateMatcher]="matcher">
          <mat-error>
            El campo es
            <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
      </div> -->

    <!-- </div> -->
    <!-- <div class="row">
      <div class="col-sm-12 col-md-12 col-xl-12">
        <mat-form-field class="inputFullWide">
          <input matInput placeholder="Solucion *" formControlName="solucion" [errorStateMatcher]="matcher">
          <mat-error>
            El campo es
            <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-6 col-xl-6">
        <mat-form-field class="inputFullWide">
          <input matInput placeholder="Usuario Solucion " formControlName="idUsuarioSolucion"
            [errorStateMatcher]="matcher">
          <mat-error>
            El campo es
            <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-6 col-xl-6">
        <mat-form-field class="inputFullWide">
          <input matInput placeholder="Fecha de Solucion " formControlName="fechaSolucion"
            [errorStateMatcher]="matcher">
          <mat-error>
            El campo es
            <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-6 col-md-6 col-xl-6">
        <mat-form-field id="blueversion" class="inputFullWide">
          <mat-select placeholder="Estatus " formControlName="estatus" [errorStateMatcher]="matcher">
            <mat-option id="bluemat" *ngFor='let estatus of estatus' [value]="estatus.idEstatus">
              {{estatus.nombre}}
            </mat-option>
          </mat-select>
          <mat-error>
            El campo es
            <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div> -->
    <div class="row">
      <div class="col-sm-12 col-md-12 ">
        <button class="mb-2 mr-2 btn-square border-0 btn-transition btn btn-outline-primary float-right"
          (click)='selectorInsUpdUsuario()' [disabled]="!usuarioForm.valid"><i class="pe-7s-diskette btn-icon-wrapper">
          </i>
          {{labelButonAddUpd}}
        </button>
        <button class='mb-2 mr-2 btn-square border-0 btn-transition btn btn-outline-danger float-right'
          (click)='cancelar()'><i class="pe-7s-diskette btn-icon-wrapper">
          </i>
          Cancelar
        </button>
      </div>
      <div class="col-sm-12 col-md-12 " *ngIf='!usuarioForm.valid'>
        <p class="tagAviso">Los campos con * son obligatorios</p>
      </div>
    </div>
  </mat-card>
</div>