<br>  
<div [formGroup]="usuarioForm">
  <mat-card>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-xl-6">
        <mat-form-field id="blueversion" class="inputFullWide">
          <mat-select placeholder="Tipo de dispositivo " formControlName="idTipoDispositivo"
            [errorStateMatcher]="matcher">
            <mat-option id="bluemat" *ngFor='let dispositivo of tipoDispositivos'
              [value]="dispositivo.idTipoDispositivo">
              {{dispositivo.nombre}}
            </mat-option>
          </mat-select>
          <mat-error>
            El campo es
            <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-6 col-xl-6">
        <mat-form-field class="inputFullWide">
          <input matInput placeholder="Marca " formControlName="marca" [errorStateMatcher]="matcher">
          <mat-error>
            El campo es
            <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-xl-6">
        <mat-form-field class="inputFullWide">
          <input matInput placeholder="Modelo" formControlName="modelo" [errorStateMatcher]="matcher">
          <mat-error>
            El campo es
            <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-6 col-xl-6">
        <mat-form-field class="inputFullWide">
          <input matInput placeholder="Serie" formControlName="serie" [errorStateMatcher]="matcher">
          <mat-error>
            El campo es
            <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-6 col-xl-6">
        <mat-form-field class="inputFullWide">
          <input matInput placeholder="Memoria" formControlName="memoria" [errorStateMatcher]="matcher">
          <mat-error>
            El campo es
            <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm-6 col-md-6 col-xl-6">
        <mat-form-field class="inputFullWide">
          <input matInput placeholder="Almacenamiento" formControlName="almacenamiento" [errorStateMatcher]="matcher">
          <mat-error>
            El campo es
            <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-6 col-xl-6">
        <mat-form-field id="blueversion" class="inputFullWide">
          <mat-select placeholder="Procesador " formControlName="idProcesador" [errorStateMatcher]="matcher">
            <mat-option id="bluemat" *ngFor='let procesador of procesadores' [value]="procesador.idProcesador">
              {{procesador.nombre}}
            </mat-option>
          </mat-select>
          <mat-error>
            El campo es
            <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-6 col-md-6 col-xl-6">
        <mat-form-field class="inputFullWide">
          <input matInput placeholder="Velocidad de procesador" formControlName="velocidadProcesador"
            [errorStateMatcher]="matcher">
          <mat-error>
            El campo es
            <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
 
      <div class="col-sm-6 col-md-6 col-xl-6">
        <mat-form-field class="inputFullWide">
          <input matInput placeholder="Nucleos " formControlName="nucleos" [errorStateMatcher]="matcher">
          <mat-error>
            El campo es
            <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm-6 col-md-6 col-xl-6" *ngIf='!add_upd'>
        <mat-slide-toggle color='primary' class="example-margin"   formControlName="estatus">
          Estatus
        </mat-slide-toggle>
      </div> 
    </div>
 
    <div class="row">
      <div class="col-sm-12 col-md-12 ">
        <button class="mb-2 mr-2 btn-square border-0 btn-transition btn btn-outline-primary float-right"
          (click)='selectorInsUpdUsuario()' [disabled]="!usuarioForm.valid"><i class="pe-7s-diskette btn-icon-wrapper">
          </i>
          {{labelButonAddUpd}}
        </button>
        <button class='mb-2 mr-2 btn-square border-0 btn-transition btn btn-outline-danger float-right'
          (click)='cancelar()'><i class="pe-7s-diskette btn-icon-wrapper">
          </i>
          Cancelar
        </button>
      </div>
      <div class="col-sm-12 col-md-12 " *ngIf='!usuarioForm.valid'>
        <p class="tagAviso">Los campos con * son obligatorios</p>
      </div>
    </div>
  </mat-card>
</div>