<mat-spinner *ngIf='spinner' class="spinner"></mat-spinner>
 
<mat-card>
    <app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon"></app-page-title>
     
</mat-card>
 
<app-helpdesk  [dispositivos]="dispositivos" [add_upd]="boolAddUpd" *ngIf="Alta"
    (cerrarTab)="cerrarTab($event)">
</app-helpdesk>
<br>
<mat-card>
    <app-grid-component *ngIf="view" [datos]="tipoDispositivos" [gridOptions]="gridOptions" [columns]="columns"
        [Checkbox]="checkbox" [Editing]="editing" [Columnchooser]="columnchooser" [searchPanel]="searchPanel"
        [scroll]="scroll" [toolbar]="toolbar" (datosevent)="datosMessage($event)"
        (messageEvent)="receiveMessage($event)">
    </app-grid-component>
</mat-card>